/*Обнуление*/

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
  
	&::before, &::after {
	  padding: 0;
	  margin: 0;
	  border: 0;
	  box-sizing: border-box;
	}
  }
  
  a {
	text-decoration: none;
  }
  
  ul, ol, li {
	list-style: none;
  }
  
  img {
	vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
  }
  
  html, body {
	height: 100%;
	line-height: 1;
	font-size: 24px;
	color: #fff;
	font-family: 'Montserrat Alternates';
	font-weight: 400;
	background: #4221AF;
  }
  
  /*--------------------------------------------------------------------------*/
  
  .wrapper {
	min-height: 100%;
	overflow: hidden;
  }
  
  /*--------------------------------------------------------------------------*/
  
  /*--------------------------------------------------------------------------*/
  
  .container {
	max-width: 1194px;
	padding: 0px 15px;
	margin: 0px auto;
  }
  
  .header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
  
	&:before {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: rgb(139, 0, 199);
	  z-index: 2;
	}
  }
  
  .header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 109px;
	align-items: center;
  }
  
  .header__logo {
	flex: 0 0 70px;
	border-radius: 30%;
	overflow: hidden;
	position: relative;
	z-index: 3;
  
	img {
	  max-width: 100%;
	  display: block;
	}
  }
  
  .header__burger {
	display: none;
  }
  
  .header__menu {}
  
  .header__list {
	display: flex;
	position: relative;
	z-index: 2;
  
	li {
	  list-style: none;
	  margin: 0px 0px 0px 41px;
	}
  }
  
  .header__link {
	color: #fff;
	font-size: 24px;
	text-decoration: none;
  }
  
  @media (max-width: 977px) {
	body.lock {
	  overflow: hidden;
	}
  
	.header__body {
	  height: 50px;
	}
  
	.header__logo {
	  flex: 0 0 40px;
	}
  
	.header__burger {
	  display: block;
	  position: relative;
	  width: 30px;
	  height: 20px;
	  z-index: 3;
  
	  span {
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	  }
  
	  &:before, &:after {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	  }
  
	  &:before {
		top: 0;
	  }
  
	  &:after {
		bottom: 0;
	  }
  
	  &.active {
		span {
		  transform: scale(0);
		}
  
		&:before {
		  transform: rotate(45deg);
		  top: 9px;
		}
  
		&:after {
		  transform: rotate(-45deg);
		  bottom: 9px;
		}
	  }
	}
  
	.header__menu {
	  position: fixed;
	  top: -100%;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto;
	  transition: all 0.3s ease 0s;
	  background-color: rgb(241, 171, 85);
	  padding: 70px 10px 20px 10px;
  
	  &.active {
		top: 0;
	  }
	}
  
	.header__list {
	  display: block;
  
	  li {
		margin: 0px 0px 20px 0px;
	  }
	}
  
	.header__link {
	  font-size: 24px;
	}
  }
  
  .content {
	padding: 130px 0px 0px 0px;
  }
  
  .contect__text {
	font-size: 18px;
	line-height: 25px;
  
	p {
	  margin: 0px 0px 20px 0px;
	}
  }
  
  @media (max-width: 767px) {
	.content {
	  padding: 70px 0px 0px 0px;
	}
  }
  
  /*----------------------------------------------------------------------*/
  
  .number {
	font-size: 18px;
  }
  
  .write {
	color: #fff;
  }
  
  .title__mainPage {
	h1 {
	  max-width: 684px;
	  max-height: 234px;
	  padding: 30px 0px 0px 100px;
	  font-size: 54px;
	}
  
	h3 {
	  max-width: 472px;
	  max-height: 76px;
	  padding: 40px 0px 0px 100px;
	  font-size: 20px;
	}
  }
  
  .img1 {
	padding-left: 645px;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
  
	img {
	  max-width: 700px;
	  max-height: 330px;
	}
  }
  
  @media (max-width: 1160px) {
	.img1 img {
	  margin-top: 20px;
	  margin-left: -355px;
	  max-width: 580px;
	}
  }
  
  @media (max-width: 420px) {
	p {
	  font-size: 25px;
	}
  
	.p3 {
	  margin-left: 20px;
	}
  
	.listik {
	  margin-top: 250px;
	}
  }
  
  @media (max-width: 550px) {
	.listik2, .listik3 {
	  margin-top: 230px;
	  line-height: 30px;
	}
  }
  
  @media (max-width: 767px) {
	.img1 img {
	  margin-top: 90px;
	  margin-left: -610px;
	  max-width: 300px;
	}
  }
  
  @media (max-width: 767px) {
	.title__mainPage {
	  h1 {
		font-size: 38px;
		margin-left: -60px;
	  }
  
	  h3 {
		margin-left: -60px;
	  }
	}
  
	@media (max-width: 448px) {
	  .title__mainPage h1 {
		font-size: 30px;
		width: 200px;
	  }
	}
  }
  
  .title2__mainPage {
	h1 {
	  max-height: 234px;
	  margin-top: 150px;
	  text-align: center;
	  font-size: 50px;
	}
  
	h3 {
	  text-align: center;
	  font-size: 30px;
	  margin-top: 20px;
	}
  }
  
  .title3__mainPage h3 {
	text-align: center;
	font-size: 30px;
	margin-top: 60px;
  }
  
  .row__photo {
	display: flex;
	flex-wrap: wrap;
  }
  
  .rect1 {
	padding: 50px 35px 20px 20px;
  }
  
  .rect2 {
	padding: 50px 35px 20px 20px;
	padding-right: 104px;
  }
  
  .rect3 {
	padding: 50px 35px 20px 20px;
  }
  
  .rect4, .rect5, .rect6 {
	padding: 30px 35px 20px 20px;
  }
  
  .rect7 {
	padding: 30px 35px 20px 90px;
  }
  
  .rect8 {
	padding: 30px 35px 20px 20px;
  }
  
  .row__photo img {
	max-width: 310px;
	max-height: 170px;
	margin-top: 30px;
	border-radius: 30%;
  }
  
  .photo1, .photo4, .photo5, .photo6 {
	margin-left: -320px;
  }
  
  .photo2, .photo3 {
	margin-left: -290px;
  }
  
  @media (max-width: 772px) {
	.rect1, .rect2, .rect3, .rect4, .rect5, .rect6 {
	  padding-left: 30px;
	}
  }
  
  @media (max-width: 1103px) {
	.rect7, .rect8, .photo10, .photo11 {
	  padding-left: 20px;
	  width: 310px;
	}
  }
  
  .p1, .p2, .p3, .p4, .p5, .p6, .p8 {
	padding-top: 60px;
	line-height: 30px;
  }
  
  .p7, .p9 {
	padding-top: 100px;
	line-height: 30px;
  }
  
  .photo7, .photo8, .photo9, .photo10, .photo11, .photo12, .photo13, .photo16, .photo17 {
	width: 430px;
	height: 400px;
	margin-top: 30px;
  }
  
  .photo7, .photo10, .photo12, .photo16 {
	margin: 50px 35px 20px 120px;
  }
  
  .photo8, .photo11, .photo13, .photo17 {
	margin: 50px 35px 20px 40px;
  }
  
  .photo9 {
	height: 320px;
	float: right;
	margin: 10px 10px 50px 10px;
  }
  
  .photo14 {
	height: 320px;
	width: 600px;
	float: right;
	margin: 10px 10px 50px 10px;
  }
  
  .photo15 {
	height: 320px;
	width: 600px;
	float: left;
	margin: 10px 10px 50px 10px;
  }
  
  .photo18 {
	height: 320px;
	width: 400px;
	float: left;
	margin: 10px 10px 50px 10px;
  }
  
  @media (max-width: 1126px) {
	.photo7, .photo8, .photo9, .photo10, .photo11, .photo12, .photo13, .photo14, .photo15, .photo16, .photo17, .photo18 {
	  padding-left: 0px;
	  margin: 20px 70px 20px 10px;
	  width: 250px;
	  height: 180px;
	}
  
	.list1 {
	  padding-left: 20px;
	}
  }
  
  @media (max-width: 615px) {
	.photo9, .photo14 {
	  float: left;
	}
  }
  
  .group2, .group4 {
	padding-top: 100px;
  }
  
  .group3 {
	padding-top: 30px;
  }
  
  .list1 li {
	list-style-type: disc;
	padding-top: 20px;
  }
  
  /*footer*/
  
  .footer {
	width: 100%;
	float: left;
	margin-top: 10px;
	background-color: rgb(139, 0, 199);
  }
  
  /*------------------------------*/
  
  .footer__top {
	padding: 50px;
	background-color: rgb(139, 0, 199);
  }
  
  .footer__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
  }
  
  .footer__column {
	flex: 0 1 33%;
	padding: 0px 15px;
	min-width: 280px;
  }
  
  .footer__label {
	color: #400358;
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
	margin: 0px 0px 20px 0px;
	padding-top: 15px;
  }
  
  .contacts-footer__item {
	padding: 0px 0px 0px 50px;
	display: flex;
	align-items: center;
	min-height: 30px;
	color: #fff;
  
	&:hover {
	  text-decoration: underline;
	}
  }
  
  .menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
  }
  
  .menu-footer__link {
	color: #fff;
  
	&:hover {
	  text-decoration: underline;
	}
  }
  
  .contacts-footer {
	display: flex;
	flex-direction: column;
  }
  
  .contacts-footer__item:not(:last-child) {
	margin: 0px 0px 15px 0px;
  }
  
  .contacts-footer__item_phone {
	background: url(../img/phone.svg) left no-repeat;
	background-size: 30px 30px;
  }
  
  .contacts-footer__item_map {
	background: url(../img/map.svg) left no-repeat;
	background-size: 30px 30px;
  }
  
  .contacts-footer__item_email {
	background: url(../img/email.svg) left no-repeat;
	background-size: 30px 30px;
  }
  
  .footer__bottom {
	padding: 25px 0px;
  }
  
  @media (max-width: 767px) {
	.footer__container {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
  }
  
  .social {
	display: flex;
	align-items: center;
	padding-top: 10px;
  }
  
  @media (max-width: 490px) {
	.social {
	  padding-top: 140px;
	}
  }
  
  .social__item {
	&:not(:last-child) {
	  margin: 0px 25px 0px 0px;
	}
  
	img {
	  width: 30px;
	  height: 30px;
	}
  }