$white: #ffffff;
$fiol: #4221AF;
$purple: #987df3;
$dpurple: #400358;
$lpurple: rgb(139, 0, 199);

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 24px;
  color: $white;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  .fiolet {
    background: $fiol;
  }
  .purple {
    background: $purple;
  }
}

/*--------------------------------------------------------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
	max-width: 1194px;
	padding: 0px 15px;
	margin: 0px auto;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50; 
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $lpurple;
		z-index: 2;
    }
	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 109px;
		align-items: center;
    }
	&__logo {
		flex: 0 0 70px;
		border-radius: 30%;
		overflow: hidden;
		position: relative;
		z-index: 3; 
		img {
			max-width: 100%;
			display: block;
        }
    }
	&__burger {
		display: none;
    }
	&__list {
		display: flex;
		position: relative;
		z-index: 2;
		li {
			list-style: none;
			margin: 0px 0px 0px 41px;
        }
    }
	&__link {
		color: $white;
		font-size: 24px;
		text-decoration: none;
    }
}


@media (max-width: 977px) {
    body.lock {
	overflow: hidden;
    }
    .header {
        &__body {
            height: 50px;
        }
        &__logo {
            flex: 0 0 40px; 
        }
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;
            span {
                position: absolute;
                background-color: $white;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
            &:before, &:after {
            content: "";
            background-color: $white;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
            &.active {
                span {
                    transform: scale(0);
                }
                &:before {
                    transform: rotate(45deg);
                    top: 9px;
                }
                &:after {
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
            }
        }
        &__menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            transition: all 0.3s ease 0s;
            background-color: rgb(241, 171, 85);
            padding: 70px 10px 20px 10px;
            &.active {
                top: 0;
            }
        } 
        &__list {
            display: block;
            li {
                margin: 0px 0px 20px 0px;
            }
        } 
        &__link {
            font-size: 24px;
        }
    }
}

.content {
    padding: 130px 0px 0px 0px;
    &__text {
        font-size: 18px;
        line-height: 25px;
        p {
            margin: 0px 0px 20px 0px;
        }
    }
}
@media(max-width:767px) {
    .content {
      padding: 70px 0px 0px 0px;
    }
}

.number {
    font-size: 18px;
}
  
.write {
    color: $white;
}

.title__mainPage {
    h1 {
        max-width: 684px;
        max-height: 234px;
        padding: 30px 0px 0px 100px;
        font-size: 54px;
    }
    h3 {
        max-width: 472px;
        max-height: 380px;
        padding: 40px 0px 0px 100px;
        font-size: 20px; 
    }
}


.img1 {
    padding-left: 645px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    img {
        max-width: 700px;
        max-height: 330px;
    }
}

@media (max-width: 1160px) {
    .img1 img {
      margin-top: 20px;
      margin-left: -355px;
      max-width: 580px;
    }
}
@media (max-width: 767px) {
    .img1 img {
      margin-top: 90px;
      margin-left: -610px;
      max-width: 300px;
    }
}
@media (max-width: 767px) {
    .title__mainPage h1 {
      font-size: 38px;
      margin-left: -60px;
    }
    .title__mainPage h3 {
      margin-left: -60px;
    }
    @media(max-width: 448px) {
      .title__mainPage h1 {
        font-size: 30px;
        width: 200px;
      }
    }
}

@media (max-width: 767px) and (max-width: 448px) {
    .title__mainPage h1 {
      font-size: 30px;
      width: 200px;
    }
}



.title2__mainPage {
    h1 {
        max-height: 234px;
        margin-top: 150px;
        text-align: center;
        font-size: 50px;
    }
    h3 {
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
    }
}
.title3__mainPage h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*1 file----------------------------------*/
@media (max-width: 420px) {
    p {
      font-size: 25px;
    }
    .p3 {
      margin-left: 20px;
    }
    .listik {
      margin-top: 250px;
    }
}
@media (max-width: 550px) {
    .listik2, .listik3 {
      margin-top: 230px;
      line-height: 30px;
    }
}

.list1 li {
    list-style-type: disc;
    padding-top: 20px;
}


.row__photo {
    display: flex;
    flex-wrap: wrap;
    &.index1 img {
        max-width: 310px;
        max-height: 170px;
        margin-top: 30px;
        border-radius: 30%;
    }
    &.index2 img {
        width: 200px;
        height: 270px;
        margin-top: 30px;
        border-radius: 30%;
    }
    h3 {
        text-align: center;
        padding-bottom: 50px;
        font-size: 26px;  
    }
}

.photo1, .photo4, .photo5, .photo6 {
    margin-left: -320px;
}  
.photo2, .photo3 {
    margin-left: -290px;
}
.photo7, .photo8, .photo9, .photo10, .photo11, .photo12, .photo13, .photo16, .photo17 {
    width: 430px;
    height: 400px;
    margin-top: 30px;
}
  
.photo7, .photo10, .photo12, .photo16 {
    margin: 50px 35px 20px 120px;
}
  
.photo8, .photo11, .photo13, .photo17 {
    margin: 50px 35px 20px 40px;
}

%photo_i1 {
    height: 320px;
    margin: 10px 10px 50px 10px;
}

.photo9 {
    @extend %photo_i1;
    float: right;
}
  
.photo14 {
    @extend %photo_i1;
    width: 600px;
    float: right;
}
  
.photo15 {
    @extend %photo_i1;
    width: 600px;
    float: left;
}
  
.photo18 {
    @extend %photo_i1;
    width: 400px;
    float: left;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p8 {
    padding-top: 60px;
    line-height: 30px;
}
.p7, .p9 {
    padding-top: 100px;
    line-height: 30px;
}

%padd_1 {
    padding: 50px 35px 20px 20px;
}
%padd_2 {
    padding: 30px 35px 20px 20px;
}
.rect1, .rect2, .rect3 {
    @extend %padd_1;
}
.rect4, .rect5, .rect6, .rect8 {
    @extend %padd_2;
} 
.rect2 {
    padding-right: 104px;
}
.rect7 {
    padding: 30px 35px 20px 90px;
}
@media (max-width: 772px) {
    .rect1, .rect2, .rect3, .rect4, .rect5, .rect6 {
      padding-left: 30px;
    }
}
@media (max-width: 1103px) {
    .rect7, .rect8, .photo10, .photo11 {
      padding-left: 20px;
      width: 310px;
    }
}

@media (max-width: 1126px) {
    .photo7, .photo8, .photo9, .photo10, .photo11, .photo12, .photo13, .photo14, .photo15, .photo16, .photo17, .photo18 {
      padding-left: 0px;
      margin: 20px 70px 20px 10px;
      width: 250px;
      height: 180px;
    }
    .list1 {
      padding-left: 20px;
    }
}
@media (max-width: 615px) {
    .photo9, .photo14 {
      float: left;
    }
}

.group2, .group4 {
    padding-top: 100px;
}
  
.group3 {
    padding-top: 30px;
}
/*file 2----------------------------------------*/

.recta {
    padding: 50px 75px 20px 20px;
}
.rectb {
    @extend %padd_1;
    padding-right: 104px;
}
.rectc {
    padding: 50px 35px 20px 10px;
} 
@media(max-width:772px) {
    .recta, .rectb, .rectc {
      padding-left: 30px;
     }
}
.photo2_1 {
    margin-left: -230px;
}

.photo2_2 {
  margin-left: -250px;
}
.photo2_3 {
  margin-left: -250px;
}
.p__bottom {
    padding-top: 40px;
    font-size: 28px;
    line-height: 50px;
    padding-bottom: 50px;
}


/*file 3-----------------------------------------*/
.dop {
    &_h1 {padding-bottom: 60px;}
    &_h3 {padding-bottom: 50px;}
}
.box, .xob {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.box img {
      width: 500px;
}
.xob img {
      width: 500px;
      margin-right: 80px;
}
  @media(max-width:1119px) {
      .box img {
          margin-top: 50px;
          width: 500px;
          height: 400px;
      } 
      .xob img {
          width: 500px;
          height: 400px;
          margin-bottom: 50px;
      }
      .box, .xob {
          padding-left: 300px;
      }
}
  @media(max-width:892px) {
      .box, .xob {
          padding-left: 200px;
      }
}
  @media(max-width:785px) {
      .box, .xob {
          padding-left: 80px;
      }
}
  @media(max-width:659px) {
      .box, .xob {
          padding-left: 20px;
      }
      .box img, .xob img {
          max-width: 420px;
      }
      .box1 {
          max-width: 420px;
      }
}
  @media(max-width:482px) {
      .box img, .xob img{
          max-width: 280px;
          height: 190px;
      }
}
  @media(max-width:281px) {
      .box, .xob {
          padding-left: 10px;
      }
      .box1 {
          max-width: 240px;
          height: 300px;
      }
      .box img, .xob img {
          max-width: 250px;
      }
}
  @media(max-width:760px) {
    .title2__mainPage h1 {
      font-size: 36px;
    }
}

.box1 {
    width: 500px;
    height: 400px;
    background-color: $white;
    margin-right: 80px;
    p {
        color: $fiol;
        font-size: 24px;
        text-align: center;
        margin-top: 70px;
    }
}
.lines p {
    margin-top: 50px;
}
.line p{
    margin-top: 100px;
}
.line, .lines {
    margin-right: 0px;
}
.tennis {
    padding-left: 50px;
    &_text{
        width: 310px;
        height: 450px;
        background-color: $white;
        padding: 50px 50px 20px 20px;
        color: $fiol;
        p {
            text-align: center;
            line-height: 50px;
        }
    }
    h3 {
        text-align: center;
        padding-bottom: 20px;
        margin-left: -40px;
        padding-top: 20px;
    }
    img {
        width: 295px;
        height: 370px;
        margin-top: 30px;
        border-radius: 30%;
        margin-bottom: 20px;
    }
}
.bowl p{
    line-height: 40px;
}



/*file 4---------------------------------------------------------------*/

.form {
    width: 640px;
    margin: 100px 20px 30px 340px;
    border-radius: 30px;
    box-shadow: 0 4px 16px #ccc;
    background-color: #f63232;
    color: black;
    letter-spacing: 1px;
    font-size: 30px;
    &__input, &__button {
        letter-spacing: 1px;
        font-size: 26px;
    }
    &__title {
        text-align: center;
        padding: 20px 0 40px 0;
    }
    &__group {
        position: relative;
        margin-bottom: 32px;
    }
    &__label {
        position: absolute;
        top: 0;
        z-index: -1;
        color: #9e9e9e;
        transition: 0.3s;
    }
    &-control{
        font-size: 24px;
        background-color: #BFB0E9;
        color: $fiol;
        margin-top: 10px;
    }
}

@media(max-width:585px){
    .box4_1 {
      width: 280px;
      height: 670px;
    }
    .box_gym {
      width: 280px;
      height: 580px;
    }
    .box4_2 div{
      width: 250px;
      height: 40px;
      
    }
}

.box_row {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    .box4_1 {
        width: 550px;
        height: 400px;
        background-color: $white;
        margin-top: 90px;
        margin-left: 20px;
        p {
            font-size: 30px;
            color: $fiol;
            text-align: center;
            margin-top: 10px;
            &:nth-child(3n+1) {
                font-weight: bold;
            }
        }
    }
    .box4_2 {
        width: 500px;
        height: 300px;
        margin-top: 90px;
        margin-left: 20px;
        background-color: #D6ADCF;
        div {
            margin-top: 60px;
        }
        label {
            margin-right: 10px;
            margin-left: 70px;
            font-size: 30px;
            color: $fiol;
        }
    }
    .box_gym {
        width: 550px;
        height: 400px;
        background-color: $white;
        margin-top: 90px;
        margin-left: 20px;
        p{
            font-size: 30px;
            color: $fiol;
            text-align: center;
            margin-top: 30px;
        }
    }  
}

/*file 5---------------------------------------------------*/

.boxx {
    &_row {
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
        div {
            width: 450px;
            height: 530px;
            background-color: #D6ADCF;
            margin-top: 90px;
            &:not(:last-child) {
                margin-right: 100px;
                margin-left: 100px;
            }
        }
    }
    &_photo {
        width: 320px;
        height: 260px;
        margin-top: 50px;
        margin-left: 65px;
        margin-right: 65px;
    }
    h1{
        text-align: center;
        margin-top: 30px;
        font-size: 40px;
        color: #000;
    }
    p {
        margin-top: 35px;
        margin-left: 20px;
        font-size: 32px;
        color: #000;
    }
    &_sections {
        margin-top: 120px;
    }
    &_section {
        margin-top: 80px;
    } 
}

@media(max-width:1130px) {
    .boxx {
        &_photo {
            max-width: 200px;
            max-height: 130px;
        }
        &_row div {
            max-width: 300px;
            max-height: 400px;
            margin-top: 30px;
            margin-bottom: 10px;
            &:first-child{
                margin-left: 20px;
            }
            &:last-child{
                margin-left: 20px;
            }
        }
    }
}

.gymm {
    display: flex;
    flex-wrap: wrap;
    .gymm1 {
        width: 490px;
        height: 530px;
        background-color: #D6ADCF;
        margin-top: 90px;
        margin-right: 100px;
        margin-left: 100px;
        p {
            font-size: 36px;
            padding-bottom: 10px;
            padding-top: 30px;
            padding-left: 20px;
            color: #000;
        }
    }
    .gymm2 {
        width: 400px;
        height: 430px;
        background-color: #D6ADCF;
        margin-top: 90px;
        p {
            font-size: 36px;
            padding-bottom: 10px;
            padding-top: 30px;
            padding-left: 20px;
            line-height: 60px;
            color: #000;
        }
    }
}

@media(max-width:1048px) {
  .gymm div {
    margin-left: 200px;
  }
}
@media(max-width:810px) {
  .gymm div {
    margin-left: 150px;
  }
}
@media(max-width:650px) {
  .gymm div {
    margin-left: 50px;
  }
}
@media(max-width:525px) {
    .gymm div {
      margin-left: 10px;
      max-width: 350px;
    }
    .gymm1 p,.gymm2 p{
      font-size: 13px;
    }
    .gymm1 {
      max-height: 430px;
    }
    .gymm2 {
      max-height: 300px;
    }
}

/*file 6---------------------------------------------------------------------------*/
.form-container {
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 3rem;
    box-sizing: border-box;
    background-color: #D6ADCF;
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 40px;
    h3 {
        color: #000;
        margin-bottom: 2rem;
    }
    label {
        display: block;
        color: #000;
        margin-top: 1rem;
    }
    input, textarea {
        display: block;
        border-radius: 20px;
        padding: 10px;
        border: 1px solid #000000;
        width: 100%;
        box-sizing: border-box;
        height: 43px;
        font-size: 1rem;
        color: #000000;
    }
    textarea {
        height: 170px;
        margin-bottom: 2rem;
        resize: none;
    }
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.footer {
	width: 100%;
	float: left;
	margin-top: 10px;
	background-color: $lpurple;
	&__top {
		padding: 50px;
		background-color: $lpurple;
    }
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
    }
	&__column {
		flex: 0 1 33%;
		padding: 0px 15px;
		min-width: 280px;
    }
	&__label {
		color: $dpurple;
		font-weight: 700;
		font-size: 24px;
		line-height: 150%;
		margin: 0px 0px 20px 0px;
		padding-top: 15px;
    }
	&__bottom {
		padding: 25px 0px;
    }
}
.contacts-footer__item {
	padding: 0px 0px 0px 50px;
	display: flex;
	align-items: center;
	min-height: 30px;
	color: $white;
	&:hover {
		text-decoration: underline;
    }
	&:not(:last-child) {
		margin: 0px 0px 15px 0px;
    }
	&_phone {
		background: url(../img/phone.svg) left no-repeat;
		background-size: 30px 30px;
    }
	&_map {
        background: url(../img/map.svg) left no-repeat;
		background-size: 30px 30px;
    }
	&_email {
		background: url(../img/email.svg) left no-repeat;
		background-size: 30px 30px;
    }
}	

.menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.menu-footer__link {
	color: $white;
	&:hover {
		text-decoration: underline;
    }
}
.contacts-footer {
	display: flex;
	flex-direction: column;
}
.social {
	display: flex;
	align-items: center;
	padding-top: 10px;
	&__item:not(:last-child) {
		margin: 0px 25px 0px 0px;
    }
	&__item img {
		width: 30px;
		height: 30px;
    }
}
